{% extends 'base.html.twig' %}

{% block title %}  {% endblock %}

{% block body %}
	
    <div class="row">
        <div class="col-md-6 mx-auto">
        <h1>Créer un concept !</h1>

        	{{ form_start(form) }}

    	{% include "concept/_form.html.twig" %}

	{{ form_end(form) }}
        
        </div>
    
    </div>




	

{% endblock %}
