{% extends 'base.html.twig' %}

{% block title %}  {% endblock %}

{% block body %}
	<h1>Créer un concept !</h1>


	{{ form_start(form) }}

	{{ form_widget(form) }}


	<input type="submit" value="sauvegarder">
	{{ form_end(form) }}

{% endblock %}
