{% extends 'base.html.twig' %}

{% block title %}  {% endblock %}

{% block body %}
	<h1>Créer un concept !</h1>


	{{ form_start(form) }}

    	{% include "concept/_form.html.twig" %}

	{{ form_end(form) }}


	

{% endblock %}
