{% extends 'base.html.twig' %}

{% block title 'edit concept #' ~ concept.id %}  



{% block body %}
	
    <div class="row">
        <div class="col-md-6 mx-auto">
        <h1>Edité un concept !</h1>

        	{{ form_start(form) }}

    	{% include "concept/_form.html.twig" %}

	{{ form_end(form) }}
        
        </div>

{% endblock %}