{% extends 'base.html.twig' %}

{% block title 'edit concept #' ~ concept.id %}  



{% block body %}
	
    <h1>Editer un concept !</h1>


	{{ form_start(form) }}

     {% include "concept/_form.html.twig" %}


	
	{{ form_end(form) }}

{% endblock %}