{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur partage tout !
{% endblock %}

{% block body %}

	<div class="">
		<h1>Liste des concepts</h1>

		


		{% for concept in concepts %}
			<article>
				<h2><a href="{{ path('concept_show',{id: concept.id}) }}">{{ concept.title }}</a></h2>
				<p>
					{{ concept.description }}
				</p>

			</article>

		{% else %}

			<p>désole il y a aucun concept !</p>

		{% endfor %}


	{% endblock %}
