{% extends 'base.html.twig' %}

{% block title %} {{ concept.title }} {% endblock %}

{% block body %}

<h1>{{ concept.title }}</h1>

<p>{{ concept.description }}</p>

<a href="{{ path('concept_edit',{id: concept.id}) }}">Editer un concept</a>



{% endblock %}